apiVersion: elbv2.services.k8s.aws/v1alpha1
kind: LoadBalancer
metadata:
  name: test-alb
  namespace: default
spec:
  name: test-alb
  type: application
  scheme: internet-facing
  ipAddressType: ipv4
  # PublicサブネットのIDを指定
  subnets:
    - subnet-049bdb1f9744ae6ce
    - subnet-0cb1a1108cdb9af85
  securityGroups:
    - sg-09f2acf7a1661db38
---
apiVersion: elbv2.services.k8s.aws/v1alpha1
kind: TargetGroup
metadata:
  name: test-tg
  namespace: default
spec:
  name: test-tg
  targetType: ip
  protocol: HTTP
  port: 80
  vpcID: vpc-06fff965e3d6a231f
  healthCheckProtocol: HTTP
  healthCheckPath: /
  healthCheckPort: traffic-port
  targets:
    - id: 10.0.10.136
      port: 80
---
apiVersion: elbv2.services.k8s.aws/v1alpha1
kind: Listener
metadata:
  name: test-listener-80
  namespace: default
spec:
  loadBalancerRef:
    from:
      name: test-alb
  port: 80
  protocol: HTTP
  defaultActions:
    - type: fixed-response
      fixedResponseConfig:
        statusCode: "404"
        contentType: text/plain
        messageBody: "no rule matched"
---
apiVersion: elbv2.services.k8s.aws/v1alpha1
kind: Rule
metadata:
  name: test-rule-echo
  namespace: default
spec:
  listenerRef:
    from:
      name: test-listener-80
  priority: 10
  conditions:
    - field: path-pattern
      pathPatternConfig:
        values:
          - "/*"
  actions:
    - type: forward
      forwardConfig:
        targetGroups:
          - targetGroupRef:
              from:
                name: test-tg
            weight: 1