---
apiVersion: ec2.services.k8s.aws/v1alpha1
kind: SecurityGroup
metadata:
  name: alb-sg
  namespace: default
spec:
  name: alb-sg
  description: "ALB Security Group created by ACK"
  vpcID: vpc-06fff965e3d6a231f
  ingressRules:
    - ipProtocol: tcp
      fromPort: 80
      toPort: 80
      ipRanges:
        - cidrIP: 124.211.210.121/32
  egressRules:
    - ipProtocol: "-1"
      ipRanges:
        - cidrIP: 0.0.0.0/0